h2 {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 3%;
}

table {
  border-collapse: collapse;
  width: 50%;
}

div {
  border-radius: 100%;
}
th, td {
  padding: 8px;
  text-align: center;
}

/* Estilos para los encabezados */
.head1 {
  color: black;
  background-color: #17a3db;
  text-align: center;
  vertical-align: middle;
  height: 100px;
}

head2 {
  background-color: #f2f2f2;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
