@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1 {
    font-family: 'Pacifico', cursive;
}

table {
    border-collapse: collapse ;
    border-spacing: 20px;
}

table,td,tr {
    border: 1px solid black;
}

ul.circle {
    list-style-type: circle;
    margin-bottom: 2em;
}

tr.cap td{
    background-color: royalblue;
}

tr:nth-child(odd) {
    background-color: lightblue;
}

td.nom_fila {
    text-align: left;
    color: darkblue;
    font-family: 'Pixelify Sans', sans-serif;
}

td.list {
    text-align: left;
}

td {
    padding: 15px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

