@import url('https://fonts.googleapis.com/css2?family=Lora&family=Tangerine&display=swap');

company {
    font-family: 'Tangerine', cursive;
    display: block;
    text-align: center;
    color: springgreen;
    font-size: 3cm;
    
}
time,days {
    display: block;
    text-align: center;
}
price, description, time,calories{
    display: block;
    text-align: center;
    margin-top: -2%;
}
calories::before,calories {
    content: "Calories: ";
    color: green;
}
price {
    color: gray;
}
name {
    font-family: 'Lora', serif;
    display: block;
    color: yellowgreen;
    text-align: center;
    font-size: 0.5cm;
}
title {
    display: block;
    text-align: center;
    font-size: 1cm;
    margin-bottom: 25px;
}
time,days {
    text-align: center;
}

address{
    margin-top: 2%;
    text-align: center;
    display: block;
}

tel{
    margin-top: -1%;
    text-align: center;
    display: block;
}
website{
    margin-top: -1%;
    text-align: center;
    display: block;
}