/*Capçalera*/
body{
    min-height: 150%;
    margin: 30px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.5);
}
.background{
    padding: 2%;
}
.head{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}
.head h1{
    background-color: dodgerblue;
    color: white;
    text-align: left;
    padding-left: 2%;
}
.head img{
    width: 100%;
    height: auto;
}
/*Text i taula d'explicació*/
.expText{
    background-color: lightgrey;
    float: left;
    width: 48%;
    padding-left: 2px;
    padding-right: 2px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.2);
    
}
    .expText h1{
        padding-left: 2px;
        background-color: dodgerblue;
        color: white;
        font-size: medium;
    }
    .expText p{
        padding-left: 2px;
        font-size: small;
    }
    .rules{
        margin: 0 auto; /* Centra la tabla horizontalmente */
        border-collapse: collapse;
    }
    .rules tbody td{
        text-align: center; /* Centra el texto dentro de las celdas */
        padding: 10px; /* Añade espacio interno a las celdas */
    }
    .rules tbody tr:nth-child(odd) td{
        background-color: dodgerblue;
    }
.expImg{
    background-color: lightgrey;
    float: right;
    width: 48%;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.2);
}
    .expImg img{
        width: 90%;
        padding: 20px;
    }   