body{
    background-color: blue;
}
.titol{
    text-align: center;
}


.formulari{
    background-color: white;
    padding: 15px; 
}
    .formulari div{
        padding: 20px;
    }
    .formulari div input{
        border: 1px;
        border-bottom: 2px solid black;
        transition-duration: 1s;
    }
    fieldset{
        background-color: whitesmoke;
        border-radius: 15px;
    }
    legend{
        border: 1px solid black;
        border-radius: 20px;
        background-color: white;
        height: 20px;
        border-color: grey;
    }
    td {
        padding-right: 60px;
    }
    select{
        padding-left: 5px;
        width: 110px;
        height: 40px;
    }
    .st_count tr td{
        padding-right: 132px;
    }
    .formulari fieldset{
        transition: background-color 1s;
    }
    .formulari fieldset:hover {
        background-color: yellowgreen;
    }

    .formulari div input:hover{
        border: 1px solid red;
    }
    .formulari div .mail{
        transition: width 1s;
    }
    .formulari div .mail:hover{
        width: 50%;
    }
button{
    border: 0px;
    border-radius: 25px;
    height: 30px;
    background-color: blue;
    color: white;
    transition: 1s;
}

button:hover{
    transform: rotate(360deg);
}