body{
    background-color: blue;
}

.borde{
    display: block;
    background-color: white;
    height: 95%;
    margin: 30px 20px 20px 20px;
}

    .term{
        width: 350px; 
    }

    div.image{
        text-align: center;
    }

.formulari{
    display: block;
    border-radius: 8px;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 4px 8px;
}
    .box_form tr td{
        margin-left: 20px;
        width: 900px;
    }
    .form{
        display: block;
        background-color: orange;
        height: 100%;
        width: 100%;
        border: 1px solid green;
    }