/*Capçalera de la pagina*/
h1{
    text-align: center;
}

div.menu{
    text-align: center;
}

table{
    margin: 0 auto;
}
td{
    color: darkblue;
    font-weight: bold;
    font-family: 'Courier New', monospace;
    padding: 150px;
    padding-bottom: 5%;
    padding-top: 2%;
}

/*Elements i les seves caracteristiques*/
img{
    width: 100%;
    height: 100%;

    transition: transform 1s;
    transition: opacity 1s;
}

.images {
    width: 490px;
    height: 290px;
    transition: transform 1s;
    transition: opacity 1s;
}
.cantants{
    display: grid;
    padding-left: 7%;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15%;
    column-gap: 5%;  
}
.nom{
    display: absolute;
    opacity: 0;
    color: white;
    font-weight: bold;
    transform: translate(40%, -1700%);
    transition: opacity 1s;
}
.barra{
    display: absolute;
    height: 60px;
    background-color: black;
    opacity: 0;
    transform: translate(0%,-450%);
    transition: opacity 1s;
}
.descrip{
    display: absolute;
    place-items: center;
    color: white;
    font-size: 20px;
    opacity: 0;
    transform: translate(14%,-1050%);
    transition: opacity 1s;
}
.read_more{
    display: absolute;
    place-items: center;
    color: white;
    font-size: 15px;
    opacity: 0;
    transform: translate(42%,-1050%);
    transition: opacity 1s;
}
.read_more{
    display: absolute;
    width: 120px;
    height: 35px;
    padding-top: 20px;
    text-align: center;
    color: white;
    opacity: 0;
    background-color: black;
    transform: translate(155%, -335%);
}
/*Animacions*/
.images:hover > img{
    transform: scale(1,1);
    opacity: 0.4;
}
.images:hover{
    background-color: cornflowerblue;
    transform: scale(1.2,1.2);
    opacity: 0.9;
}
.images:hover > div.barra{
    opacity: 0.8;
}
.images:hover > div.nom{
    opacity: 1;
}
.images:hover > div.descrip{
    opacity: 1;
}
.images:hover > div.read_more{
    opacity: 1;
}