h1{
    text-align: center;
}
div{
    text-align: center;
}
img{
    width: 20%;
}
table{
    display: inline;
}

th{
    background-color: teal;
    color: white;
    padding: 20px;
}
td{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
tr:nth-child(even) {
    background-color: lightgrey;
}