#price {
    background-color: blueviolet;
}
th {
    background-color: lightseagreen;
    padding: 2%;
}
tr:nth-child(even) {
    background-color: dodgerblue;
}
th, td{
    border: solid 1px white;
}