#pokemon {
    display: inline-block;
    background: rgba(142,142,142,1);
    padding: 15px;
    border-radius: 3%;
    margin-bottom: 0.5%;
}

#pokeImage {
    
    border-radius: 20px;
    background: rgb(228,174,45);
    background: radial-gradient(circle, rgba(228,174,45,1) 60%, rgba(189,73,45,1) 100%);
}


#pokeContent {
    border-radius: 20px;
    display: block;
    font-size: 120%;
    margin-top: 3%;
    margin-bottom: 4%;
    background: rgb(250,250,249);
    background: radial-gradient(circle, rgba(250,250,249,1) 20%, rgba(186,182,181,1) 100%);
    padding-left: 20px;
}
    #pokeContent ul{
        margin-left: -9%;
    }
    #pokeContent li{
        display: inline;
    }

    #pokeContent ul::before{
        content: "Type: ";
        font-weight: bold;
    }

    #pokeContent li:not(:last-child)::after {
        content: ", ";
    }
    
    #pokeNumber::before{
        content: "Code: ";
        font-weight: bold;
    }
    #pokeHeight::before{
        content: "Height: ";
        font-weight: bold;
    }
    #pokeWeight::before{
        margin-left: 50%;
        content: "Weight: ";
        font-weight: bold;
    }
    #pokeHeight, #pokeWeight{
        display: inline;
    }

ul {
    list-style: none;
}
h4{
    text-transform: capitalize;
    font-style: italic;
    font-size: 135%;
}

@media screen and (max-width: 500px){
    #pokemon {
        display: block;
    } 
}

/* Estilo base para dispositivos más grandes de 800px */
#poke-container {
    display: -ms-inline-grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  /* Consulta de medios para dispositivos entre 601px y 800px */
  @media screen and (min-width: 601px) and (max-width: 800px) {
    #poke-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Consulta de medios para dispositivos hasta 600px */
  @media screen and (max-width: 600px) {
    #poke-container {
      grid-template-columns: 1fr;
    }
  }
  