h1 {
    text-align: center;
}

form {
    display: block;
    width: 1000px;
}

select {
    width: 185px;
    padding-top: 5px;
    padding-bottom: 5px;
}
fieldset {
    background-color: lightblue;
}

legend {
    display: block;
    background-color: white;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

td.select option {
    text-align: center;
}
td.espai {
    padding-left: 50px;
}

#birthday {
    width: 110px;
}

#direccio {
    width: 365px;
}

div {
    padding-top: 15px;
}

input.opc_d {
    width: 20%;
}