@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tagalog&display=swap');


/*Google Fonts*/
h1 {
    font-family: 'Dancing Script', sans-serif;
}

h2,h3,td {
    font-family: 'Noto Sans Osmanya', sans-serif;
}

p {
    font-family: 'Noto Sans Tagalog', sans-serif;
}

/*Styles*/

h3.salt {
    clear: both;
}
img.foto {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}
tr:nth-child(even) {
    background-color: dodgerblue;
}

    /*Styles Taula Inormativa*/
table {
    width: 30%;
    border-collapse: collapse;
    border-spacing: 5px;
    border: 2px solid black;
}

table,th,td {
    border: 1px solid black;
    padding: 10px;
}

    /*Llista de links capitols*/  

p.space {
    white-space: pre;
}

ol {
    float: left;
    display: block;
}

li.chapters {
    margin: 5px;
    padding: 17px;
    background-color: orange;
}

    li.chapters a {
        text-decoration: none;
        color: white;
    }
    li.chapters a:hover {
        color: brown;
    }

    /*Capálera*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background-color: #456789;
}

li {
    float: left;
}

    li.menu a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li.menu a:hover {
        background-color: #BBAA00;
    }